.banner {
  width: 100%;
  padding-block: 100px 120px;
  max-height: 90vh;
  .text {
    text-align: center;
    color: white;
    h1 {
      font-size: 53px;
      font-weight: 700;
      margin-bottom: 16px;
      font-family: "Cormorant Garamond";
    }
    p {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 32px;
    }
    h3 {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
    .reserveBtn {
      position: relative;
      width: 100%;
      max-width: 214px;
      padding: 7px 0;
      margin: 0 auto;
      button {
        background: none;
        border: 1.5px solid #ef272c;
        color: #fff;
        padding-block: 10px;
        width: 100%;
        gap: 6px;
        position: relative;
      }
      .line {
        position: absolute;
        width: 100%;
        max-width: 80%;
        height: 0.6px;
        background-color: #ef272c;
        z-index: 0;
        right: 50%;
        transform: translateX(50%);
      }
      .topLine {
        top: 0px;
      }
      .bottomLine {
        bottom: 0px;
      }
    }
  }
  .text__block {
    padding: 30px 0;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 72px;
  }
  .foottext {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 60px;
    font-size: 14px;
    color: #ddd;

    span {
      font-size: 16px;
      color: red;
    }

    h6 {
      width: 100px;
      background: #f8f6f6;
      height: 2px;
    }
  }
  .text2 {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    gap: 20px;

    h6 {
      width: 100px;
      height: 2px;
      background: #f8f6f6;
    }

    span {
      font-size: 20px;
      color: red;
    }
  }
}
.modalBlock {
  margin-left: 75%;
  margin-top: -20%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 250px;
  border-radius: 10px;
  background: white;
  // box-shadow: 0px 3px 28px 16px rgba(25, 53, 75, 0.2);

  animation: slideFromRight 2.5s ease-out forwards;
  will-change: transform, opacity;

  .mlodalName {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 80px;

    span {
      font-size: 24px;
      color: black;
      background: #ef272c;
    }

    input {
      width: 150px;
      padding: 5px;
      border: 1px solid gray;
      border-radius: 4px;
    }
  }

  button {
    margin: 30px;
    padding: 8px 55px;
    background: #ef272c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
@keyframes slideFromRight {
  from {
    transform: translateX(100vw);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
