.about {
  padding: 80px 0;

  .about__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .about__block__item {
    padding: 20px;
    h1 {
      font-size: 27px;
      margin-bottom: 16px;
      line-height: 1.4;
      padding: 10px;
    }
    p { 
      padding: 20px;
      font-size: 16px;
      color: #666;
    }
    .top{
      display: flex;
      align-items: center;
      gap: 22px;
      margin-bottom: 16px;
    }
  }
  .about__block__item1{
    padding: 20px;
    p {
      padding: 12px 0;
      font-size: 19px;
      line-height: 1.6;
    }
    img{
      margin: 20px 0;
    }
  }
}
