.menuSlider {
  display: flex;
  gap: 100px;
  width: 100%;
  min-height: 820px;
  padding-top: 30px;
  .sliderContainer {
    position: relative;
    flex: 1;
    overflow: hidden;
    &::-webkit-scrollbar {
      display: none;
    }

    .menuList {
      position: absolute;
      width: 100%;
      font-size: 20px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      .menuCard {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-family: "Cormorant Garamond";
        .menuHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 40px;
          font-size: 25px;
          .dots {
            border: 1.2px dashed rgba(255, 255, 255, 0.571);
            width: 100%;
            align-self: flex-end;
            margin-bottom: 10px;
          }
          .price {
            color: #ef272c;
          }
        }
      }
      .description {
        font-size: 17px;
        font-weight: 200;
        width: 100%;
        max-width: 440px;
      }
      a {
        font-size: 18px;
        border-bottom: 1px solid white;
        padding-bottom: 4px;
        margin-left: auto;
      }
    }
    .slideOut {
      transform: translateY(-100%);
      opacity: 0;
    }

    .slideIn {
      transform: translateY(100%);
      opacity: 0;
      animation: slideUp 0.4s forwards;
    }

    .visible {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
