.adress {
  padding-block: 40px 150px;
  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
    .leftClass {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 30px;
      width: 100%;
      max-width: 260px;
      .top {
        display: flex;
        justify-content: flex-start;
        gap: 30px;
      }
      h1 {
        font-size: 45px;
        font-weight: 600;
        letter-spacing: -2;
        font-family: "Cormorant Garamond";
        width: 100%;
        max-width: 250px;
      }
      h3 {
        color: #ef272c;
        font-size: 20px;
        font-family: sans-serif;
        font-weight: 100;
        width: 100%;
      }
      p {
        font-size: 17px;
        font-weight: 400;
        width: 100%;
      }
      .timeWork,
      .neighborhood {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;
        line-height: 1.2;
      }
      .giftButton {
        position: relative;
        width: 100%;
        max-width: 214px;
        padding: 7px 0;
        button {
          background: none;
          border: 1.5px solid #ef272c;
          color: #fff;
          padding-block: 10px;
          width: 100%;
          gap: 6px;
          position: relative;
        }
        .line {
          position: absolute;
          width: 100%;
          max-width: 60%;
          height: 0.6px;
          background-color: #ef272c;
          z-index: 0;
        }
        .topLine {
          top: 0px;
          right: 0;
        }
        .bottomLine {
          bottom: 0px;
          left: 0;
        }
      }
    }
    .mapInfo {
      display: flex;
      flex-direction: column;
      gap: 20px;
      padding: 40px 30px;
      background-color: #be2022;

      color: black;
      width: 100%;
      max-width: 600px;
      border-radius: 2px;
      .icon {
        font-size: 32px;
      }
      h2 {
        font-weight: 500;
      }
      p {
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: 350;
        font-size: 20px;
      }
      .mapIcon {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        margin-top: 20px;
        .messangers {
          display: flex;
          gap: 10px;
        }
        a {
          margin: 5px auto 0;
          img {
            width: 100%;
            max-width: 400px;
            border-radius: 3px;
          }
        }
      }
    }
  }
}
